<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:name=".Entity.TransactionApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/explogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/explogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseManager"
        tools:targetApi="31">

        <activity
            android:name=".Views.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Views.StatsActivity"
            android:parentActivityName=".Views.MainActivity">

        </activity>
        <activity
            android:name=".Views.MoreFragment"
            android:parentActivityName=".Views.MainActivity">

        </activity>
        <activity android:name=".Views.MainActivity">

        </activity>
    </application>

</manifest>